.container{
    display: flex;
    margin: 0 auto;
    max-width: 900px;
    align-items:center;
}
.top_btn{
    display: flex;
    gap: 25px;
}
.contact_form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.form_control{
    display: flex;
    flex-direction: column;
    width: 100%;
    position: relative;
}
.form_control input{
    height: 30px;
    padding: 0 10px;
    font-size: 14px;
}
.form_control label{
    position: absolute;
    font-size: 14px;
    top: -10px;
    left: 15px;
    background-color: white;
    padding: 0 10px;
}
.contact_form form{
    display: flex;
    flex-direction: column;
    gap: 20px;
}
.contact_image img{
    height: 350px;
    width: 100%;
}